* {
    color: #343;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.profile-card img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 150px;
}
body{
    background-image: linear-gradient(to left,rgb(255, 186, 198),rgb(255, 221, 226),rgb(210, 244, 255));
}
.profile-card{
    max-width: 400px;
    min-width: 250px;
    max-height: 200px;
    min-height: 100px;
    padding: 10px;
    margin: 20px auto;
    border: 2px black solid;
    border-radius: 8px;
    background-color: white;
}
.profile-card div > p{
    font-size: 16px;
}
.profile-card h2{
    font-size: 32px;
    font-weight: 700;
}
.profile-card a{
    color: green;
    text-decoration: none;
}
.profile-card [href="+558799999999"]:active{
    transition: all 1s ease-in-out;
    color: red;
}
.profile-card [href="+558799999999"]:visited{
    color: blue;
}
.profile-card:hover{
    transition: all 500ms ease-in-out;
    background-color: rgb(173, 148, 173);
}