*{
    margin-left: 0;
    margin-top: 0;
}
div{
    /* width: 200px;
    height: 200px; */
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    background-color: pink;
    border: 2px black solid;
    /*margin-bottom: 2px;
    margin-left: 30px;*/
    margin: 2px 10px;
    margin: 20px auto;
    overflow: scroll;
}
